html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body { margin-bottom: 60px; background-color: #0b5c71; /* For browsers that do not support gradients */ background-image: linear-gradient(to bottom right, #0e0e0e, #0b5c71); }